body { background-color: #eaf6f6;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            
}
hr{ padding: 10 px;
    transition: transform .2s;
    border-color: rgb(137, 202, 245);
    border-style: none;
    border-top-style: dotted;
    border-width: 7px;
    width: 5%;
}
hr:hover{ transform: scale(2);}
h1{
    color: #0a0a0a;
    text-align: left; }
h2 {    color: #070707;
}
h3{    color: #0a0a0a;
}
img{
    border-radius: 60px;
}
.A{ color:black;}
.h3{ text-align: center; }
.h4{ text-align:right;}
.img{
    padding:15px;
    transition: transform 1s;
}
.img:hover{ 
    transform:scale(1.5);
}